
/* Reseteo */
*{
  margin:0px;
  padding: 0px;
}

/* Variables*/
:root {
  --lav-light: #f2deff;
  --lav: #B57EDC;
  --lavhover: #775391;
}

/* Tipografía general */
body {
  font-family: raleway;
}

.bg-lav{

background-color:#f2deff ;
}

.btn-primary{
  background-color: #B57EDC;
  border-color: #B57EDC ;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover{
  background-color: #775391;
  border-color: #775391 ;
  transform: scale(0.9);
}


.accordion {
  --bs-accordion-color: #000;
  --bs-accordion-bg: #fff;
  --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(231, 114, 222, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #B57EDC;
  --bs-accordion-active-bg: #f2deff;
}

/*Navbar*/


ul{
  width: 100%;
}

/*#navbar{
  display: flex;
  justify-content: space-around;
}*/



/* Footer */
footer {
  width: 100%;
  background: var(--lav);
  height: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.anchoFooter {
  margin-top: 30px;
}

.redes {

  display: inline-block;
}

.bi-facebook {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-facebook:hover {
  color: #3b5998;
}

.bi-whatsapp {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-whatsapp:hover {
  color: #25D366;
}

.bi-instagram {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-instagram:hover {
  color: #8a3ab9;
}



